apiVersion: cert-manager.io/v1
kind: ClusterIssuer
metadata:
  name: letsencrypt-staging
spec:
  acme:
    server: https://acme-staging-v02.api.letsencrypt.org/directory
    preferredChain: ""
    email: ${ acme_email }
    privateKeySecretRef:
      name: letsencrypt-staging
    solvers:
      - dns01:
          route53:
            region: ${ aws_region }
            accessKeyID: ${ aws_access_key }
            secretAccessKeySecretRef:
              name: ${ aws_creds_secret }
              key: ${ aws_creds_secret_key }

---
apiVersion: cert-manager.io/v1
kind: ClusterIssuer
metadata:
  name: letsencrypt-prod
spec:
  acme:
    server: https://acme-v02.api.letsencrypt.org/directory
    preferredChain: ""
    email: ${ acme_email }
    privateKeySecretRef:
      name: letsencrypt-prod
    solvers:
      - dns01:
          route53:
            region: ${ aws_region }
            accessKeyID: ${ aws_access_key }
            secretAccessKeySecretRef:
              name: ${ aws_creds_secret }
              key: ${ aws_creds_secret_key }
